<div class="portfolio-app" appScrollProgress>
  <app-header></app-header>

  <main class="main-content">
    <app-hero
      id="hero"
      appAnimateOnScroll
      [socialLinks]="socialLinks"
    ></app-hero>
    <app-about id="about" appAnimateOnScroll></app-about>
    <app-skills id="skills" appAnimateOnScroll></app-skills>
    <app-experience id="experience" appAnimateOnScroll></app-experience>
    <app-projects id="projects" appAnimateOnScroll></app-projects>
    <app-education id="education" appAnimateOnScroll></app-education>
    <app-contact id="contact" appAnimateOnScroll></app-contact>
  </main>

  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
